@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?500quy');
  src:  url('fonts/icomoon.eot?500quy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?500quy') format('truetype'),
    url('fonts/icomoon.woff?500quy') format('woff'),
    url('fonts/icomoon.svg?500quy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-queen:before {
  content: "\e902";
}
.icon-king:before {
  content: "\e903";
}
.icon-crown:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e901";
}
.icon-cake:before {
  content: "\e900";
}
